body {
    
}
.header {
    background: url("Laptopbg.jpg") no-repeat center center;
    background-size: cover;
    height: 600px;
    text-align: center;
}
#firstName {
    color: whitesmoke;
  line-height: 200px; 
  font-size: 80px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-transform: uppercase;
  position: relative;
  top: 50px;

}

#lastName {
    color: whitesmoke;
    line-height: 10px; 
    font-size: 80px;
    margin-top: 100;
    margin-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    bottom: 10px;
    left: 178px;
}
#quote {
  font-size: 40px;
  color: whitesmoke;
  position: relative;
  top: 100px;
  right: 400px;
}
#About {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;

}

#aboutText {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#girlfriend {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#girlfriendText {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}